// =============================================================================
//    #  Animation 
// =============================================================================

.slide_down {
  margin: 30px 0;

  @media only screen and (max-width: 544px) {
    margin: 45px 0;
  }
}
@include waitAnimate(
  (
    animationName: slide_down,
    keyframes: (
      0: (
        transform: translateY(-100%)
      ),
      35: (
        transform: translateY(10%)
      ),
      50: (
        transform: translateY(4%)
      ),
      65: (
        transform: translateY(-4%)
      ),
      80: (
        transform: translateY(2%)
      ),
      95: (
        transform: translateY(-5%)
      ),
      100: (
        transform: translateY(0)
      )
    ),
    timingFunction: ease,
    iterationCount: 1
  )
);

.slide_right {
  bottom: 0;
  left: 0;
  @media only screen and (max-width: 544px) {
    left: 10px;
  }
}
@include waitAnimate(
  (
    animationName: slide_right,
    keyframes: (
      0: (
        transform: translateX(-150%)
      ),
      35: (
        transform: translateX(8%)
      ),
      50: (
        transform: translateX(-4%)
      ),
      65: (
        transform: translateX(4%)
      ),
      80: (
        transform: translateX(-2%)
      ),
      95: (
        transform: translateX(-8%)
      ),
      100: (
        transform: translateX(0)
      )
    ),
    timingFunction: ease-in-out,
    iterationCount: 1
  )
);

.slide_left {
  bottom: 10px;
  right: 40px;

  @media only screen and (max-width: 544px) {
    right: 10px;
  }
}
@include waitAnimate(
  (
    animationName: slide_left,
    keyframes: (
      0: (
        transform: translateX(150%)
      ),
      35: (
        transform: translateX(-8%)
      ),
      50: (
        transform: translateX(4%)
      ),
      65: (
        transform: translateX(-4%)
      ),
      80: (
        transform: translateX(2%)
      ),
      95: (
        transform: translateX(0)
      ),
      100: (
        transform: translateX(0)
      )
    ),
    timingFunction: ease-in-out,
    iterationCount: 1
  )
);

@include waitAnimate(
  (
    animationName: shake,
    keyframes: (
      0: (
        transform: rotate(-12deg)
      ),
      5: (
        transform: rotate(12deg)
      ),
      10: (
        transform: rotate(24deg)
      ),
      20: (
        transform: rotate(-24deg)
      ),
      30: (
        transform: rotate(24deg)
      ),
      40: (
        transform: rotate(-24deg)
      ),
      50: (
        transform: rotate(24deg)
      ),
      60: (
        transform: rotate(-24deg)
      ),
      70: (
        transform: rotate(24deg)
      ),
      80: (
        transform: rotate(-24deg)
      ),
      90: (
        transform: rotate(24deg)
      ),
      95: (
        transform: rotate(-24deg)
      ),
      100: (
        transform: rotate(0deg)
      )
    ),
    duration: 1,
    waitTime: 1.1,
    timingFunction: ease,
    iterationCount: infinite
  )
);

@include waitAnimate(
  (
    animationName: bounce,
    keyframes: (
      0: (
        transform: translateY(0)
      ),
      12.5: (
        transform: translateY(-15px)
      ),
      25: (
        transform: translateY(0)
      ),
      50: (
        transform: translateY(-15px)
      ),
      62.5: (
        transform: translateY(0)
      ),
      75: (
        transform: translateY(-15px)
      ),
      100: (
        transform: translateY(0)
      )
    ),
    duration: 1,
    waitTime: 2.3,
    timingFunction: ease,
    iterationCount: infinite
  )
);

@include waitAnimate(
  (
    animationName: horizontal,
    keyframes: (
      0: (
        transform: translateX(0)
      ),
      12.5: (
        transform: translateX(-5px)
      ),
      25: (
        transform: translateX(0)
      ),
      50: (
        transform: translateX(-5px)
      ),
      62.5: (
        transform: translateX(0)
      ),
      75: (
        transform: translateX(-5px)
      ),
      100: (
        transform: translateX(0)
      )
    ),
    duration: 0.3,
    waitTime: 0.5,
    timingFunction: ease,
    iterationCount: infinite
  )
);