// =============================================================================
//    #   Fonts
// =============================================================================

@include font-face("tech-fonts", "../fonts/tech-fonts", normal, normal);

// переписати код! в ідеалі замінити на інші іконки (awesome)
[class*=font-],
[class^=font-] {
  font-family: "tech-fonts";
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}
.font-html:before {
  content: "\106"
}
.font-css:before {
  content: "\103"
}
.font-js:before {
  content: "\108"
}
.font-jquery:before {
  content: "\107"
}
.font-ajax:before {
  content: "\e900"
}
.font-json:before {
  content: "\e901"
}
.font-bootstrap:before {
  content: "\102"
}
.font-photoshop:before {
  content: "\109"
}
.font-gulp:before {
  content: "\100"
}
.icon-fille-zilla:before {
  content: "\104"
}
.icon-git:before {
  content: "\101"
}
.icon-github:before {
  content: "\105"
}

.icon-php-storm:before {
  content: "\110"
}
.font-sass:before {
  content: "\111"
}
.icon-sublime-text:before {
  content: "\112"
}
.icon-svg:before {
  content: "\113"
}
.icon-wordpress:before {
  content: "\114"
}