// =============================================================================
//    #  Footer
// =============================================================================

.footer {
  .foot-info {
    font-size: 18px;
    line-height: 2;
    text-align: center;

    i.fa {
      display: inline-block;
      vertical-align: middle;
      font-size: 40px; 
    }

    p {
      a {
        color: $violet-color;
        &:hover{
          color: $light-violet-color;
          text-decoration: none;
        }
      }
    }
  }
  
  .bs-footer {
    padding-top: 20px;
    padding-bottom: 10px;
    border-top: 1px solid $grey-color;
    background-color: $blue-top-color;
    color: $lilac-color;
    text-align: center;
    a {
      color: $lilac-color;
    }
  }
}