// =============================================================================
//    #   Header
// =============================================================================
// header
.header {
  background: url(../img/bg_header.jpg) repeat-x;
  color: $header-text-color;

  // navigation
  .navbar {
    background-color: $navbar-color;

    .navbar-nav {
      li {
        // Debug!
        // &.active {
        //   background-color: $active-nav-bg;
        // }

        a {
          color: $header-text-color;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }  
  }// .navigation

  h2 {
    font-size: 4rem;
    color: $white-color;
  }
  p {
    font-size: 1.5rem;

    @media only screen and (max-width: 350px) {
      font-size: 1.3rem;
    }
}

  .icon-list {
    li {
      display: inline-block;
      font-size: 2.3rem;

      @media only screen and (max-width: 768px) {
        font-size: 2rem;
      }
      @media only screen and (max-width: 544px) {
        font-size: 1.8rem;
      }
      @media only screen and (max-width:480px) {
        font-size: 1.3rem;
      }
    }    
  }

  // header description
  h1 {
    font-size: 2rem;
    color: $grey-blue-color;
  }

  .animation-wrapper {
    position: relative;
    overflow: hidden;

    .animate {
      position: absolute;
      animation-duration: 2s;
      visibility: visible!important;
    }
    .main_position {
      position: relative;
    }

    @media only screen and (max-width: 544px) {
      // display: none;
    }
  }// .header description

  @media only screen and (max-width: 992px) {
    height: auto;
  }
  @media only screen and (max-width: 768px) {
    text-align: center;
  }// .header
}