// =============================================================================
//		#	   Colors
// =============================================================================

$primary-color: #ffffff;
$header-text-color: #cdbfe3;
$navbar-color: #2D2B41;


$white-color: #ffffff;
$blue-top-color: #2D2B41;
$lilac-color: #cdbfe3;
$violet-color: #563d7c;
$light-violet-color: #9966cc;
$active-nav-bg: #222132;
$light-grey-color: #d6d6d6;
$grey-color: #cccccc;
$grey-blue-color: #63707e;
$black-color: #111111;